@import url('https://fonts.googleapis.com/css?family=Roboto');

html, html * {
  font-family: 'Roboto', Verdana, Helvetica, sans-serif;
}

#tudo {
	width:100%;
	background: #E9E9E9;
	text-align:left;
	margin:0 auto;
}
	
#topo {	
	background-color:#E9E9E9;
}

#principal {
	width:78%;
	background-color:#E9E9E9;
	margin:0px 0px;
	float:right;
    overflow-y: auto;
}
	
#principal * {
	padding: 0px;
}
	
#conteudo {
	margin:0px 0px;
    border:0px solid white;
 }
	
#navegacao {
	width: 21.7%;
	background-color:white;
	float:left;
    margin:1px 0px;
    overflow-y: auto; 
}

#navegacao * {
    padding:0px;
	}
	
#loading {
	position:absolute;
	top:310px;
	width:120px;
	z-index:100;
	padding:2px;
	border: 1px solid black; 
	background-color:red;
	font-family: 'Roboto', Verdana, Helvetica, sans-serif; 
	font-size: 12px; 
	color: white;  
	font-weight:bold;
	display:none;
}

.tabcomborda {
	border:0px solid white;
	width:100%;
	padding:2px;
	border-spacing:0px 1px;
	background-color:#CFCFCF;
}

.tabsemborda {
	width:100%;
	padding:2px;
	border-spacing:0px 1px;
	background-color:#CFCFCF;
}	

.tabadsense {
    background-color:#E9E9E9;
    margin-top:5px;
    margin-bottom:2px;
    border:none;
    width:100%;
    padding:0px;
    border-spacing:0px;
    border-collapse:collapse;
}

.tabtopo {	
	background-color:#E9E9E9;
	margin-top:0px;
	margin-bottom:0px;
	border-width:0px;
	border-style:solid;
	border-color:white;
	width:100%;
	padding:1px;
	border-spacing:0px;
}
	
.tabtopstatus {
	background-color:#DCDCDC;
	margin-top:0px;
	margin-bottom:0px;
	border-width:1px 1px 1px 1px;
	border-style:solid;
	border-color:white;
	width:100%;
	padding:0px 0px 5px 0px;
	border-spacing:0px;
}

.jogos1 {
	font-family: 'Roboto', Verdana, Helvetica, sans-serif; 
	font-size:  13px; 
	color: black; 
	background-color: white;
	margin:2px;	
}

.jogos2 {
	font-family: 'Roboto', Verdana, Helvetica, sans-serif; 
	font-size:  13px; 
	color: black; 
	background-color: white;
	margin:2px;	
}

.jogos3 {
	font-family: 'Roboto', Verdana, Helvetica, sans-serif; 
	font-size:  13px; 
	color: black; 
	background-color: white;
	margin:2px;		
	font-weight:normal; 	
}

.classif {
	font-family: 'Roboto', Verdana, Helvetica, sans-serif; 
	font-size:  14px; 
	color: black; 
	background-color: #C0C0C0; 
	font-weight:bold; 
	margin:5px;
}

.classif a:link {
	font-family: 'Roboto', Verdana, Helvetica, sans-serif; 
	font-size:  14px; 
	color: black; 
	background-color: #C0C0C0; 
	font-weight:bold; 
	margin:5px;
}

.ficha {
	font-family: 'Roboto', Verdana, Helvetica, sans-serif; 
	font-size: 15px; 
	color: black; 
	background-color: white;
	padding: 2px;	
}

.ficha2 {
	font-family: 'Roboto', Verdana, Helvetica, sans-serif; 
    font-size: 15px; 
	color: black; 
	background-color: white;
	padding: 2px;    
}

.placar {
	font-family: 'Roboto', Verdana, Helvetica, sans-serif; 
	font-size: 50px; 
	color: black; 
	background-color: white;
	font-weight:bold
}

.placar2 {
	font-family: 'Roboto', Verdana, Helvetica, sans-serif; 
	font-size: 24px; 
	color: black; 
	background-color: white;
	font-weight:bold
}

.artilharia {
	font-family: 'Roboto', Verdana, Helvetica, sans-serif; 
	font-size:  11px; 
	color: black; 
	background-color: white;
	padding: 0px;
	border: 0px solid white;
}

.torneio {
	font-family: 'Roboto', Verdana, Helvetica, sans-serif; 
	font-size: 20px; 
	color: black; 
	background-color: #CFCFCF; 
	font-weight:bold
}

.torneio a:link {
	font-family: 'Roboto', Verdana, Helvetica, sans-serif; 
	font-size: 20px; 
	color: black; 
	background-color: #CFCFCF; 
	font-weight:bold; 
	text-decoration:underline
}

.fase {
	font-family: 'Roboto', Verdana, Helvetica, sans-serif; 
	font-size: 13px; 
	color: black; 
	background-color: #DCDCDC; 
	font-weight:bold
}

.rodada {
	font-family: 'Roboto', Verdana, Helvetica, sans-serif; 
	font-size: 13px; 
	color: black; 
	background-color: #DCDCDC; 
	font-weight:bold
}

.data {
	font-family: 'Roboto', Verdana, Helvetica, sans-serif; 
	font-size: 13px; 
	color: black; 
	background-color: #D3D3D3; 
	font-weight:bold
}

.privacidade {
	font-family: 'Roboto', Verdana, Helvetica, sans-serif; 
	font-size: 13px; 
	color: black; 
	background-color: #DCDCDC; 
	text-decoration: underline
}

.barra {
	font-family: 'Roboto', Verdana, Helvetica, sans-serif; 
	font-size: 13px; 
	color: black; 
	background-color: white
}

.tabbarra {	
	background-color:white;
	margin-top:0px;
	margin-bottom:0px;
	border-width:0px;
	border-style:solid;
	border-color:white;
	width:100%;
	padding:1px;
	border-spacing:0px;
}

.adsense {
	font-family: 'Roboto', Verdana, Helvetica, sans-serif; 
	font-size: 13px; 
	color: black; 
	background-color: #E9E9E9
}

.cabec {
	font-family: 'Roboto', Verdana, Helvetica, sans-serif; 
	font-size: 16px; 
	color: white; 
	background-color: #A0A0A0
}

.cabec2 {
	font-family: 'Roboto', Verdana, Helvetica, sans-serif; 
	font-size: 16px; 
	color: black; 
	background-color: #DCDCDC
}

.cabec3 {
	font-family: 'Roboto', Verdana, Helvetica, sans-serif; 
	font-size: 16px; 
	color: black; 
	background-color: white
}

.obs {
	font-family: 'Roboto', Verdana, Helvetica, sans-serif; 
	font-size: 13px; 
	color: black; 
	background-color: white; 
	font-weight:bold
}

.art {
	font-family: 'Roboto', Verdana, Helvetica, sans-serif; 
	font-size: 13px; 
	color: black; 
	background-color: white; 
	font-weight:bold
}

.busca {
	font-family: 'Roboto', Verdana, Helvetica, sans-serif; 
	font-size: 13px; 
	color: black; 
	background-color: white
}

.textoinfobol {
	font-family: 'Roboto', Verdana, Helvetica, sans-serif; 
	font-size: 14px; 
	color: black; 
	background-color: #E9E9E9
}

.dia {
	font-family: 'Roboto', Verdana, Helvetica, sans-serif; 
	font-size: 13px; 
	color: black; 
	background-color: #D3D3D3; 
	font-weight:bold
}

.bodyclass  {
    background-color: #E9E9E9;
    margin: 0px;
    padding:0px;
    overflow-x:hidden !important;
}

.tddetail {
	text-align:right;
	font-weight:bold;
	vertical-align:top;
}
           
a:visited {
	font-family: 'Roboto', Verdana, Helvetica, sans-serif; 
	font-size:  13px; 
	color:black; 
	text-decoration: none
}         

a:link {
	font-family: 'Roboto', Verdana, Helvetica, sans-serif; 
	font-size: 13px; 
	color:black; 
	text-decoration: none
}
         
a:hover  {
	font-family: 'Roboto', Verdana, Helvetica, sans-serif; 
	font-size: 13px; 
	color:black; 
	text-decoration: underline
}
 
.mail {
	font-family: 'Roboto', Verdana, Helvetica, sans-serif; 
	font-size: 13px; color:white; text-decoration: underline
}  

.itemficha1 {
	font-family: 'Roboto', Verdana, Helvetica, sans-serif; 
	font-size:  13px; 
	color: black; 
	background-color: #A0A0A0
}

.itemficha2 {
	font-family: 'Roboto', Verdana, Helvetica, sans-serif; 
	font-size:  13px; 
	color: black; 
	background-color: white
}

.google {
	font-family: 'Roboto', Verdana, Helvetica, sans-serif; 
	font-size: 13px; 
	color: white;  
	font-weight:bold
}

.branco {
	font-family: 'Roboto', Verdana, Helvetica, sans-serif; 
	font-size: 13px; 
	color: white; 
	font-weight:bold
}

.calendar {
	font-family: 'Roboto', Verdana, Helvetica, sans-serif; 
	font-size: 12px; 
	color: black; 
	background-color: white
}

.calendarday {
	font-family: 'Roboto', Verdana, Helvetica, sans-serif; 
	font-size: 12px; 
	color: black; 
	background-color: #F9F9F9
}

.calendartoday {
	font-family: 'Roboto', Verdana, Helvetica, sans-serif; 
	font-size: 12px; 
	color: black; 
	background-color: #BEBEBE; 
	font-weight:bold
}

.contato {
    position: relative;
    top: -18px;
    left: 0px;
}

.divprivacidade {
    position: relative;
    top: 0px;
}

.anuncio {
	width:90%;
	padding:1px;
	border-spacing:0px 0px;
	margin:1px;
	background-color:#E9E9E9;
}	
